{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 p-4 bg-white rounded shadow">
  <h3 class="mb-4 text-primary">Agregar Usuario</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label>Nombre</label>
      <input type="text" name="nombre" class="form-control">
    </div>
    <div class="mb-3">
      <label>Apellido</label>
      <input type="text" name="apellido" class="form-control">
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" name="email" class="form-control">
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <div class="mb-3">
      <label>Dirección</label>
      <input type="text" name="direccion" class="form-control">
    </div>
    <div class="mb-3">
      <label>Ciudad</label>
      <input type="text" name="ciudad" class="form-control">
    </div>
    <div class="mb-3">
      <label>País</label>
      <input type="text" name="pais" class="form-control">
    </div>
    <div class="mb-3">
      <label>Teléfono</label>
      <input type="text" name="telefono" class="form-control">
    </div>
    <button class="btn btn-success">Guardar</button>
    <a href="{% url 'ver_usuario' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
