{% extends "base.html" %}
{% block content %}
<div class="card card-soft p-3">
  <div class="d-flex justify-content-between mb-3">
    <h4>Pedidos</h4>
    <a class="btn btn-success" href="{% url 'agregar_pedido' %}"><i class="bi bi-plus-lg"></i> Nuevo</a>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Producto</th>
          <th>Vendedor</th>
          <th>Transacción</th>
          <th>Fecha Pedido</th>
          <th>Total</th>
          <th>Estado</th>
          <th>Dirección Envío</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for p in pedidos %}
        <tr>
          <td>{{ p.id_pedido }}</td>
          <td>{{ p.usuario.nombre }}</td>
          <td>{{ p.producto.nombre }}</td>
          <td>{{ p.vendedor.nombre }}</td>
          <td>{{ p.id_transaccion.id_transaccion }}</td>
          <td>{{ p.fecha_pedido }}</td>
          <td>${{ p.total }}</td>
          <td>{{ p.estado }}</td>
          <td>{{ p.direccion_envio }}</td>
          <td>{{ p.pais_envio }}</td>
          <td>
            <a class="btn btn-sm btn-info" href="{% url 'actualizar_pedido' p.id_pedido %}">Editar</a>
            <a class="btn btn-sm btn-danger" href="{% url 'borrar_pedido' p.id_pedido %}">Borrar</a>
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="11" class="text-center">No hay pedidos aún.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
